<dom-module id="cells-bfm-credentials-wrapper-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-bfm-credentials-wrapper; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

.main-title {
  font-size: 26px;
  font-weight: bold; }

.sub-text {
  font-size: 15px; }

.form-credentials {
  margin-bottom: 1rem;
  @apply --cells-bfm-credentials-wrapper-form-credentials; }

.list {
  padding: 1rem 0 0 0;
  @apply --cells-bfm-credentials-list; }

.helper {
  margin-bottom: 0.5rem;
  padding: 1.5rem;
  align-items: end;
  text-align: left;
  @apply --cells-bfm-credentials-wrapper-helper; }
  .helper.primary {
    --cells-icon-message-header: { font-size: 18px; font-weight: 450; width:100%; };
    @apply --cells-bfm-credentials-wrapper-helper-primary; }
  .helper.secondary {
    --cells-icon-message-header: { font-weight: 450; margin-bottom: 8px; width:100%; };
    @apply --cells-bfm-credentials-wrapper-helper-secondary; }

</style></template></dom-module>