<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-bfm-credentials/cells-bfm-credentials.html">
<link rel="import" href="../cells-icon-message/cells-icon-message.html">
<link rel="import" href="../cells-lists/cells-lists.html">
<link rel="import" href="../cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="cells-bfm-credentials-wrapper-styles.html">

<dom-module id="cells-bfm-credentials-wrapper">
  <template>
    <style include="cells-bfm-credentials-wrapper-styles cells-grid-template-styles"></style>
    <div class="cgt">
      <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-6 cgt-col-lg-6 ">
        <h1 class="main-title">[[title]]</h1>
        <p class="sub-text">[[text]]</p>
        <cells-bfm-credentials
          class="form-credentials"
          title="[[form.title]]"
          form="[[form.form]]"
          has-error="[[form.hasError]]"
          input-password="[[form.inputPassword]]"
          input-account="[[form.inputAccount]]"></cells-bfm-credentials>
      </div>
      <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-ml-1 cgt-col-lg-ml-1 cgt-col-md-5 cgt-col-lg-5">
          <cells-icon-message
            type="[[helperPrimary.type]]"
            icon="[[helperPrimary.icon]]"
            heading="[[helperPrimary.title]]"
            message="[[helperPrimary.message]]"
            class$="helper [[helperPrimary.class]]">
          <template is="dom-if" if="[[helperPrimary.list.length]]">
              <cells-lists class="list" list="[[helperPrimary.list]]"></cells-lists>
          </template>
          </cells-icon-message>
          <cells-icon-message
            type="[[helperSecondary.type]]"
            icon="[[helperSecondary.icon]]"
            heading="[[helperSecondary.title]]"
            message="[[helperSecondary.message]]"
            class$="helper [[helperSecondary.class]]">
            <template is="dom-if"  if="[[helperSecondary.list.length]]">
                <cells-lists list="[[helperSecondary.list]]"></cells-lists>
            </template>
          </cells-icon-message>
        </div>
    </div>
  </template>
  <script src="cells-bfm-credentials-wrapper.js"></script>
</dom-module>